.testimonials {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  min-height: 80vh;

}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.slider ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.slider li {
  flex: 0 3 33.3333%; 
  margin-right: 35px; 
}

.slide-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.984);
  padding: 20px;
  width: 280px; 
  height: 450px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide-card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.222);
  width: 300px; 
  height: 450px; 

}
.user-info {
  margin-bottom: 10px;
}

.policy-name {
  font-size: 20px;
  color: #4a5568;
  font-weight: bold;
}

.policy-details {
  font-size: 15px;
  font-weight: 600;
}

.policy-premium {
  font-size: 15px;
  color: #3182ce;
}

.policy-coverage {
  background-color: #ebf8ff;
  padding: 5px;
  border-radius: 8px;
  margin-top: 10px;
}

.policy-description {
  background-color: #ebf8ff;
  padding: 5px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  height: 220px; 
  overflow: hidden; 
}

.policy-description:hover {
  overflow: auto; }

.policy-button {
  background-color: #5560f6;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  margin-top: auto; 
}

.policy-button:hover {
  background-color: #dd6b20;
}

.next-btn,
.back-btn {
  position: absolute;
  top: 40%;
  background-color: rgb(149, 10, 248);
  border-radius: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.next-btn {
  right: 10px;
}

.back-btn {
  left: 10px;
}
