@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.testimonials {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  min-height: 80vh;
  font-family: "Poppins";

}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  font-family: "Poppins";
  width: 100%;
}

.slider ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.slider li {
  flex: 0 3 33.3333%; 
  font-family: "Poppins";
  margin-right: 35px; 
}

.slide-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.519);
  padding: 20px;
  font-family: "Poppins";
  width: 300px; 
  height: 450px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide-card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.222);
  /* transform: matrix(0,1,1,0,0,0); */
  /* transform: scale(0.7); */
  /* transform: translate(); */
  /* transform: skew(-5deg,-10deg); */
  /* transform: rotate(15deg);*/
  
  
  transform: translate(-5px,-10px); 
  width: 300px; 
  height: 450px; 

}
.user-info {
  font-family: "Poppins";
  margin-bottom: 10px;
}

.policy-name {
  font-size: 20px;
  color: #4a5568;
  font-family: "Poppins";
  font-weight: bold;
}

.policy-details {
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins";
}

.policy-premium {
  font-size: 15px;
  color: #3182ce;
  font-family: "Poppins";
}

.policy-coverage {
  background-color: #ebf8ff;
  padding: 10px;
  /* border-radius: 8px; */
  font-family: "Poppins";
  margin-top: 5px;
}

.policy-description {
  background-color: #ebf8ff;
  padding: 10px;
  /* border-radius: 8px; */
  /* margin-top: 10px; */
  font-family: "Poppins";
  font-size: 14px;
  height: 280px; 
  overflow: hidden; 
}

.policy-description:hover {
  overflow: auto;
 }

.policy-button {
  background-color: #5560f6;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: "Poppins";
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  margin-top: auto; 
}

.policy-button:hover {
  background-color: #dd6b20;
}

.next-btn,
.back-btn {
  position: absolute;
  top: 40%;
  filter: invert(1);
  /* filter: brightness(0); */
  border-radius: 10rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.next-btn {
  right: 10px;
}

.back-btn {
  left: 10px;
}
