*{
   
    box-sizing: border-box;
}

.main {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding-top: 18px;
    padding-bottom: 18px;
    
    }
  
  .form-container {
    background: rgba(255, 255, 255, 0.736);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    
  


  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #d80000;
    
  }
  
  .form-input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
   
   
  }
  
  .form-item {
    flex: 1;
    margin-bottom: 5px;
    margin-right: 10px;
   
  }
  
  .form-item label {
    float: left;
   
  }
  
  .form-item input,
  .form-item select,
  .form-item textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #f5222d; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; 
  }
  
  .submit-button:hover {
    background-color: #d91e1e; 
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
  }
  
  .checkbox-container a {
    color: #f5222d;
    text-decoration: none;
  }
  
  .checkbox-container a:hover {
    text-decoration: underline;
  }

  .signin-btn{
    margin-top: -10px;
    margin-bottom: -15px;
  }