@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.testimonials1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    font-family: "Poppins";
  }
  
  .slider1 {
    display: flex;
    transition: transform 0.5s ease; 
    width: 100%;
    font-family: "Poppins";
  }
  
  .slider1 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    font-family: "Poppins";
  }
  
  .slider1 li {
    flex: 0 3 33.3333%; 
    margin-right: 20px; 
  }
  
  .slide-card1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; 
    height: 450px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Poppins";
  }
  .slide-card1:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.222);
    /* transform: matrix(0,1,1,0,0,0); */
    /* transform: scale(0.7); */
    /* transform: translate(); */
    /* transform: skew(-5deg,-10deg); */
    /* transform: rotate(15deg);*/
    
    
    transform: translate(-5px,-10px); 
    width: 300px; 
    height: 450px; 
  
  }
  
  .user-info {
    margin-bottom: 10px;
  }
  
  .policy-name {
    font-size: 20px;
    color: #4a5568;
    font-weight: bold;
    font-family: "Poppins";
  }
  
  .policy-details {
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins";
  }
  
  .policy-premium {
    font-size: 15px;
    font-family: "Poppins";
    color: #3182ce;
  }
  
  .policy-coverage {
    background-color: #ebf8ff;
    padding: 5px;
    /* border-radius: 8px; */
    font-family: "Poppins";
    /* margin-top: 10px; */
  }
  
  .policy-description {
    background-color: #ebf8ff;
    padding: 10px;
    /* border-radius: 8px; */
    /* margin-top: 10px; */
    font-size: 12px;
    height: 280px; 
    overflow: hidden;
    font-family: "Poppins";
  }
  
  .policy-description:hover {
    overflow: auto; 
  }
  
  .policy-button1 {
    background-color: #3785fa;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: #fff;
    font-family: "Poppins";
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin-top: auto;
  }
  
  .policy-button1:hover {
    background-color: #dd6b20;
  }
  
  .next-btn,
  .back-btn {
    filter: invert(1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }
  
  .next-btn {
    right: 10px;
  }
  
  .back-btn {
    left: 10px;
  }
  