.main-contain {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    padding:50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-health {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

#contactus {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    background: #F9F9F9;
    padding: 25px;
    /* padding-right:50px */
    /* padding-bottom:50px; */
    /* box-shadow: 0 0 20px 0 rgba(10, 10, 12, 0.2), 0 5px 5px 0 rgba(11, 11, 11, 0.24); */
}

#contactus h3 {
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    color: #1869b0;
    
}

#contactus h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contactus input[type="text"],
#contactus input[type="email"],
#contactus input[type="number"],
#contactus input[type="url"],
#contactus textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 8px;
}

#contactus input[type="text"]:hover,
#contactus input[type="email"]:hover,
#contactus input[type="tel"]:hover,
#contactus input[type="url"]:hover,
#contactus input[type="number"]:hover,
#contactus textarea:hover {
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #0b3ffc;
}

#contactus textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

.submit-health{
    cursor: pointer;
    width: 100%;
    border: none;
    color:#fff;
    /* background-color:white ;  */
    background-color: #1869b0;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    text-color:#fff;
    text-align: center;
}

/* .submit {
    background: #6b8deb;
    transition: background-color 0.3s ease-in-out;
} */

.submit[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contactus input:focus,
#contactus textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

#contactus input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    margin: 0 0 5px;
}

#contactus input[type="file"]:hover {
    border: 1px solid #0b3ffc;
    transition: border-color 0.3s ease-in-out;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

